@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 100;
	src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(../fonts/NotoSansKR-Thin.eot), url(../fonts/NotoSansKR-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Thin.woff) format("woff"), url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 300;
	src: local("Noto Sans Light"), local("NotoSans-Light"), url(../fonts/NotoSansKR-Light.eot), url(../fonts/NotoSansKR-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../fonts/NotoSansKR-DemiLight.eot), url(../fonts/NotoSansKR-DemiLight.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-DemiLight.woff) format("woff"), url(../fonts/NotoSansKR-DemiLight.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../fonts/NotoSansKR-Regular.eot), url(../fonts/NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../fonts/NotoSansKR-Medium.eot), url(../fonts/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../fonts/NotoSansKR-Bold.eot), url(../fonts/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}
html, body {
	min-width: 1000px;
}
.content.main {
	position: relative;
/*	background: url(../images/main_bg.png) no-repeat center 0;*/
	background: url(../images/main_bg.png) no-repeat center bottom;
	background-size: auto;
	width: 100%;
	overflow: hidden;
}
.content.main .header-wrap {
/*	height: 116px;*/
}
.content.main .header-wrap .inner {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	padding: 48px 0 36px 0;
}
.content.main .header-wrap .inner h1 {
	padding-left: 70px;
}
.content.main .header-wrap .inner .share-area {
	position: absolute;
	/* width: 35px; */
	top: 46px;
	right: 0;
}
.content.main .header-wrap .inner .share-area .fb {
	background: url(../images/share_fb.png) no-repeat center 0;
	width: 34px;
	height: 35px;
	margin-bottom: 10px;
}
.content.main .header-wrap .inner .share-area .kt {
	background: url(../images/share_kt.png) no-repeat center 0;
	width: 34px;
	height: 35px;
}

.content.main .notice-wrap {
	background: url(../images/notice_bg.png) no-repeat center 0;
	background-size: cover;
	height: 67px;
}
.content.main .notice-wrap .inner {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	text-align: center;
}
.content.main .notice-wrap .inner img {
	margin-left: 26px;
}
.content.main .notice-wrap .inner span {
	font-size: 22px;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	margin: 7px 0 0 7px;
}
.content.main .notice-wrap .inner span b {
	background: rgba(255, 255, 255, 0.22);
}
.content.main .content-wrap {
	/*  */
}
.content.main .content-wrap .inner {
	position: relative;
	width: 1000px;
	height: 752px;
	margin: 0 auto;
}
.content.main .content-wrap .inner .desc-area {
	display: inline-block;
	margin: 85px 0 0 74px;
	width: 600px;
}
.content.main .content-wrap .inner .desc-area .sub-text {
	font-family: 'Noto Sans Korean';
	font-weight: 400;
	font-size: 28px;
	color: #fff;
}
.content.main .content-wrap .inner .desc-area .sub-text small {
	font-family: 'Noto Sans Korean';
	font-weight: 400;
	font-size: 22px;
	color: #c498d8;
}
.content.main .content-wrap .inner .desc-area .neon-title {
	margin: -4px 0 0 -42px;
}
.content.main .content-wrap .inner .desc-area .neon-on-title {
	position: absolute;
	/* top: 116px;
	left: 44px; */
	top: 92px;
	left: 20px;
}
.content.main .content-wrap .inner .desc-area .desc1 {
	display: block;
	margin-top: 22px;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 300;
	font-size: 17.47px;
	color: #fff;
}
.content.main .content-wrap .inner .desc-area .desc2 {
	display: block;
	margin-top: 12px;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	font-size: 19px;
	color: #fff;
	line-height: 23px;
}
.content.main .content-wrap .inner .btn-area {
	display: inline-block;
	margin: 49px 0 0 63px;
}
.content.main .content-wrap .inner .btn-area .give {
	background: url(../images/main_bg_btn1.png) no-repeat center 0;
	background-size: cover;
	width: 274px;
	height: 90px;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	padding-left: 20px;
}
.content.main .content-wrap .inner .btn-area .find {
	background: url(../images/main_bg_btn2.png) no-repeat center 0;
	background-size: cover;
	width: 280px;
	height: 90px;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	padding-left: 33px;
	margin-top: -5px;
}
.content.main .content-wrap .inner .goods-area {
	position: absolute;
	top: 121px;
	right: 21px;
	opacity: 0;
}
.content.main .content-wrap .inner .share-area {
	position: absolute;
	width: 35px;
	bottom: 0;
	right: -95px;
}
.content.main .content-wrap .inner .share-area .fb {
	background: url(../images/share_fb.png) no-repeat center 0;
	width: 34px;
	height: 35px;
	margin-bottom: 10px;
}
.content.main .content-wrap .inner .share-area .kt {
	background: url(../images/share_kt.png) no-repeat center 0;
	width: 34px;
	height: 35px;
}
.content.main .footer-wrap .inner {
	width: 1000px;
	/* height: 188px; */
	margin: 0 auto;
	/* padding: 67px 0 39px 160px; */
	padding: 67px 0 39px 0;
	text-align: center;
}
.content.main .footer-wrap .inner p {
	font-size: 12px;
	color: #fff;
	color: rgba(255, 255, 255, 0.5);
	/* color: #686868; */
}
.content.main .footer-wrap .inner p:last-child {
	font-size: 11px;
/*	color: #fff;*/
}
.content.sub {
	position: relative;
	background: url(../images/sub_bg.png) no-repeat center 0;
	/*	background-size: auto;*/
	background-size: cover;
	width: 100%;
	overflow: hidden;
}
.content.sub .header-wrap {
	height: 116px;
}
.content.sub .header-wrap .inner {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	padding: 48px 0 36px 0;
}
.content.sub .header-wrap .inner h1 {
	padding-left: 70px;
}
.content.sub .header-wrap .inner .share-area {
	position: absolute;
	/* width: 35px; */
	top: 46px;
	right: 0;
}
.content.sub .header-wrap .inner .share-area .fb {
	background: url(../images/share_fb.png) no-repeat center 0;
	width: 34px;
	height: 35px;
	margin-bottom: 10px;
}
.content.sub .header-wrap .inner .share-area .kt {
	background: url(../images/share_kt.png) no-repeat center 0;
	width: 34px;
	height: 35px;
}

.content.sub .notice-wrap {
	background: url(../images/notice_bg.png) no-repeat center 0;
	background-size: cover;
	height: 67px;
}
.content.sub .notice-wrap .inner {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	text-align: center;
}
.content.sub .notice-wrap .inner img {
	margin-left: 26px;
}
.content.sub .notice-wrap .inner span {
	font-size: 22px;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	margin: 7px 0 0 7px;
}
.content.sub .content-wrap {
	/*  */
}
.content.sub .content-wrap .inner {
	position: relative;
	width: 1000px;
	/* height: 752px; */
	margin: 0 auto;
	padding: 63px 0 0 0;
	font-size: 0;
}
.content.sub .content-wrap .inner .request-area {
	background: #f2f2f2;
	width: 865px;
	height: 917px;
	margin: 0 auto;
	margin-bottom: 42px;
}
.content.sub .content-wrap .inner .request-area .mark {
	position: absolute;
	display: inline-block;
	width: 97px;
	top: 49px;
	left: 89px;	
}
.content.sub .content-wrap .inner .request-area .title {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 30px;
	padding: 78px 0 42px 0;
	text-align: center;
}
.content.sub .content-wrap .inner .request-area .title img {
	padding: 0 17px 0 17px;
	margin-top: 13px;
}
.content.sub .content-wrap .inner .request-area .question1-box {
	width: 713px;
	height: 567px;
	border: 1px solid #dcd1e8;
	margin: 0 auto;
}
.content.sub .content-wrap .inner .request-area .question1-box .q1 {
	text-align: center;
	padding: 35px 0 22px 0;
}
.content.sub .content-wrap .inner .request-area .question1-box span {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;	
	font-size: 23px;
	color: #333333;
	letter-spacing: -1.4px;
}
.content.sub .content-wrap .inner .request-area .question1-box span b {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	color: #54266a;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice {
	position: relative;
	background: url(../images/sub_q1_bg.png) no-repeat center 0;
	background-size: contain;
	width: 549px;
	height: 441px;
	padding-left: 216px;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 div {
	position: absolute;
	display: inline-block;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 .chk1 {
	top: 42px;
	left: 60px;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 .chk2 {
	top: 154px;
	left: 60px;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 .chk3 {
	top: 266px;
	left: 60px;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 .chk4 {
	top: 380px;
	left: 60px;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 div input[type="checkbox"] {
	display: none;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 div input[type="checkbox"] + label {
	display: inline-block;
	cursor: pointer;
	width: 15px;
	height: 16px;
	border: 2px solid #d7d7d7;
	/* margin-top: 40px; */
	vertical-align: middle;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 div input[type="checkbox"]:checked + label {
	background: #3a0a4b;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 .ans-title {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	font-size: 22px;
	color: #512267;
	vertical-align: middle;
	line-height: 22px;
	display: inline-block;
	padding: 0 38px 0 38px;
}
.content.sub .content-wrap .inner .request-area .question2-box {
	width: 713px;
	height: 137px;
	border: 1px solid #dcd1e8;
	margin: 0 auto;
	margin-top: 9px;
}
.content.sub .content-wrap .inner .request-area .question2-box .q2 {
	display: inline-block;
	text-align: left;
	padding: 41px 0 22px 47px;
}
.content.sub .content-wrap .inner .request-area .question2-box span {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;	
	font-size: 23px;
	color: #333333;
	letter-spacing: -1.4px;
	line-height: 28px;
}
.content.sub .content-wrap .inner .request-area .question2-box span b {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	color: #54266a;
}
.content.sub .content-wrap .inner .request-area .question2-box span p:last-child {
	padding-left: 34px;
}
.content.sub .content-wrap .inner .share-area {
	position: absolute;
	width: 35px;
	bottom: 0;
	right: -95px;
}
.content.sub .content-wrap .inner .request-area .question2-box .choice {
	position: relative;
	/* display: inline-block; */
}
.content.sub .content-wrap .inner .request-area .question2-box .choice ._2 {
	position: absolute;
	top: -81px;
	right: 45px;
}
.content.sub .content-wrap .inner .request-area .question2-box .choice ._2 input[type="text"]{
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #333333;
	width: 303px;
	height: 52px;
	border: solid 1px #e6e6e6;
	background: #fff;
	padding-left: 26px;
}
.content.sub .content-wrap .inner .request-area .question2-box .choice ._2 input::-webkit-input-placeholder {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #d3d3d3;
	/* padding-left: 26px; */
}
.content.sub .content-wrap .inner .request-area .question2-box .choice ._2 input:-ms-input-placeholder {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #d3d3d3;
	/* padding-left: 26px; */
}
.content.sub .content-wrap .inner .request-area .question2-box .choice ._2 input::placeholder {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #d3d3d3;
	/* padding-left: 26px; */
}
.content.sub .content-wrap .inner .input-area {
	width: 865px;
	margin: 0 auto;
	text-align: center;
}
.content.sub .content-wrap .inner .input-area .input-box1 {
	display: inline-block;
	margin-right: 30px;
}
.content.sub .content-wrap .inner .input-area .input-box2 {
	display: inline-block;
}
.content.sub .content-wrap .inner .input-area .input-box1 .row:first-child {
	margin-bottom: 15px;
}
.content.sub .content-wrap .inner .input-area .input-box2 .row:last-child {
	text-align: right;
}
.content.sub .content-wrap .inner .input-area .input-box2 .row:first-child {
	margin-bottom: 15px;
}
.content.sub .content-wrap .inner .input-area .input-box1 .row .label {
	display: inline-block;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #eabdff;
	margin-right: 25px;
}
.content.sub .content-wrap .inner .input-area .input-box1 .row .label.name {
	margin-left: 15px;
}
.content.sub .content-wrap .inner .input-area .input-box1 .row .label.tel {
	margin-right: 9px;
}
/* .content.sub .content-wrap .inner .input-area .input-box1 .row .label.email {
	margin-left: 10px;
	margin-right: 20px;
} */
.content.sub .content-wrap .inner .input-area .input-box2 .row .label {
	display: inline-block;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #eabdff;
	margin-right: 25px;
}
.content.sub .content-wrap .inner .input-area .input-box1 .row .input {
	display: inline-block;
	font-size: 17px;
	color: #eabdff;
}
.content.sub .content-wrap .inner .input-area .input-box2 .row .input {
	display: inline-block;
	font-size: 17px;
	color: #eabdff;
}
.content.sub .content-wrap .inner .input-area .input-box1 .row .input input {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #eabdff;
	width: 257px;
	height: 37px;
	padding-left: 8px;
	background: #653c78;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content.sub .content-wrap .inner .input-area .input-box2 .row .input input {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #eabdff;
	width: 257px;
	height: 37px;
	padding-left: 8px;
	background: #653c78;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content.sub .content-wrap .inner .input-area .input-box1 .row .input.tel input {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #eabdff;
	width: 74px;
	height: 37px;
	background: #653c78;
	/*	margin-right: 1px;*/
}
.content.sub .content-wrap .inner .input-area .input-box1 .row .input.tel input:last-child {
	width: 75px;
	margin-right: 0px;
}
.content.sub .content-wrap .inner .input-area .input-box2 .row .input.addr input {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #eabdff;
	width: 207px;
	height: 37px;
	background: #653c78;
}
.content.sub .content-wrap .inner .input-area .input-box2 .row .input.addr button {
	background: #dcd0e8;
	width: 41px;
	height: 37px;
	vertical-align: top;
	margin-left: 5px;
}
.content.sub .content-wrap .inner .input-area .input-box {
	margin-top: 15px;
}

.content.sub .content-wrap .inner .input-area .input-box .row .label {
	display: inline-block;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #eabdff;
	margin-right: 14px;
}
.content.sub .content-wrap .inner .input-area .input-box .row .label.email {
	margin-left: 10px;
	margin-right: 20px;
}
.content.sub .content-wrap .inner .input-area .input-box .row .input {
	display: inline-block;
	font-size: 0;
	color: #eabdff;
}
.content.sub .content-wrap .inner .input-area .input-box .row .input.email #mb_email1 {
	width: 193px;
}
.content.sub .content-wrap .inner .input-area .input-box .row .input.email #mb_email2 {
	width: 181px;
}
.content.sub .content-wrap .inner .input-area .input-box .row .input.email span {
	display: inline-block;
	font-size: 17px;
	color: #eabdff;
	width: 30px;
	height: 37px;
	line-height: 37px;
	vertical-align: top;
}
.content.sub .content-wrap .inner .input-area .input-box .row .input.email input[type="text"] {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	height: 37px;
	color: #eabdff;
	background: #653c78;
	box-sizing: border-box;
	padding-left: 8px;
}

.content.sub .content-wrap .inner .input-area .input-box .row .input.email select {
	width: 191px;
	height: 37px;
	margin-left: 9px;
	background: url(../images/arrow.png) 163px center / 15px auto no-repeat #653c78;
	color: #eabdff;
	font-size: 17px;
	padding-left: 8px;
	vertical-align: top;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.content.sub .content-wrap .inner .input-area .input-box .row .input.email select::-ms-expand {
	display: none;
}
.content.sub .content-wrap .inner .input-area .agree-box {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	margin-top: 29px;
}
.content.sub .content-wrap .inner .input-area .agree-box div {
	display: inline-block;
}
.content.sub .content-wrap .inner .input-area .agree-box div:first-child {
	margin-right: 32px;
}
.content.sub .content-wrap .inner .input-area .agree-box div input[type="checkbox"] {
	display: none;
}
.content.sub .content-wrap .inner .input-area .agree-box div input[type="checkbox"] + label {
	display: inline-block;
	cursor: pointer;
	background: url(../images/sub_agree__unchecked.png) no-repeat center 0;
	background-size: cover;
	width: 15px;
	height: 14px;
	/* background: #fff; */
	/* border: 2px solid #d7d7d7; */
	/* margin-top: 40px; */
	vertical-align: top;
	margin-top: 1px;
}
.content.sub .content-wrap .inner .input-area .agree-box div input[type="checkbox"]:checked + label {
	/* background: #3a0a4b; */
	background: url(../images/sub_agree__checked.png) no-repeat center 0;
	background-size: cover;
	/* background: #fff; */
	width: 15px;
	height: 14px;
}
.content.sub .content-wrap .inner .input-area .agree-box .agree1 span:first-child {
	margin-right: 7px;
}
.content.sub .content-wrap .inner .input-area .agree-box .agree2 span:first-child {
	margin-right: 7px;
}
.content.sub .content-wrap .inner .input-area .agree-box .agree1 span:last-child {
	margin-left: 11px;
}
.content.sub .content-wrap .inner .input-area .agree-box .agree2 span:last-child {
	margin-left: 11px;
}
.content.sub .content-wrap .inner .input-area .agree-box .agree-text {
	margin-top: 9px;
}
.content.sub .content-wrap .inner .input-area .btn-box {
	margin: 20px 0 59px 0;
}
.content.sub .content-wrap .inner .input-area .btn-box button {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	background: url(../images/sub_submit_btn.png) no-repeat center 0;
	background-size: cover;
	width: 221px;
	height: 90px;
	padding-left: 26px;
}

.content.sub .content-wrap .inner .share-area .fb {
	background: url(../images/share_fb.png) no-repeat center 0;
	width: 34px;
	height: 35px;
	margin-bottom: 10px;
}
.content.sub .content-wrap .inner .share-area .kt {
	background: url(../images/share_kt.png) no-repeat center 0;
	width: 34px;
	height: 35px;
}
.content.sub .footer-wrap .inner {
	width: 1000px;
	/* height: 188px; */
	margin: 0 auto;
	/* padding: 67px 0 39px 160px; */
	padding: 67px 0 39px 0;
	text-align: center;
}
.content.sub .footer-wrap .inner p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.5);
}
.content.sub .footer-wrap .inner p:last-child {
	font-size: 11px;
	color: rgba(255, 255, 255, 0.5);
}

.content.info {
	position: relative;
	background: url(../images/info_bg.png) no-repeat center 0;
	background-size: auto;
	width: 100%;
}
.content.info .header-wrap {
	height: 116px;
}
.content.info .header-wrap .inner {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	padding: 48px 0 36px 0;
}
.content.info .header-wrap .inner h1 {
	padding-left: 70px;
}
.content.info .header-wrap .inner .share-area {
	position: absolute;
	/* width: 35px; */
	top: 46px;
	right: 0;
}
.content.info .header-wrap .inner .share-area .fb {
	background: url(../images/share_fb.png) no-repeat center 0;
	width: 34px;
	height: 35px;
	margin-bottom: 10px;
}
.content.info .header-wrap .inner .share-area .kt {
	background: url(../images/share_kt.png) no-repeat center 0;
	width: 34px;
	height: 35px;
}
.content.info .notice-wrap {
	background: url(../images/notice_bg.png) no-repeat center 0;
	background-size: cover;
	height: 67px;
	position: relative;
}
.content .notice-wrap {
	position: relative;
}
.content .notice-wrap .inner {
	position: absolute;
	left: 100%;
}
.content.info .notice-wrap .inner {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	text-align: center;
}
.content.info .notice-wrap .inner img {
	margin-left: 26px;
}
.content.info .notice-wrap .inner span {
	font-size: 22px;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	margin: 7px 0 0 7px;
}
.content.info .content-wrap .inner {
	position: relative;
	width: 1000px;
	/* height: 752px; */
	margin: 0 auto;
	text-align: center;
	padding-bottom: 103px;
}
.content.info .content-wrap .inner .sub-title {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #c498d8;
	padding: 59px 0 6px 0;
}
.content.info .content-wrap .inner .neon-on-title {
	position: absolute;
	top: 69px;
	left: 256px;
}
.content.info .content-wrap .inner .desc-title {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	padding: 23px 0 19px 0;
	letter-spacing: 1.4px;
}
.content.info .content-wrap .inner .event-date {
	width: 236px;
	height: 26px;
	border: solid 1px #fff;
	margin: 0 auto;
}
.content.info .content-wrap .inner .event-date span {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;	
	color: #fff;
	margin-top: 4px;
	display: inline-block;
}
.content.info .content-wrap .inner .sale-image {
	padding: 25px 0 0 0;
}
.content.info .content-wrap .inner .sale-image .sale-text {
	position: relative;
	z-index: 2;
}
.content.info .content-wrap .inner .sale-image .store {
	margin-top: -96px;
}
.content.info .content-wrap .inner .desc-text {
	padding-top: 30px;
}
.content.info .content-wrap .inner .desc-text p {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #e4cbf0;
}
.content.info .content-wrap .inner .desc-text p:last-child {
	padding-top: 2px;
}
.content.info .content-wrap .inner .desc-text .top-desc {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	padding-bottom: 9px;
}
.content.info .content-wrap .inner .btn-area {
	margin: 20px 0 40px 0;
}
.content.info .content-wrap .inner .btn-area button {
	background: url(../images/info_exp_btn.png) no-repeat center 0;
	background-size: cover;
	width: 318px;
	height: 90px;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	padding-left: 21px;
}
.content.info .footer-wrap .inner {
	width: 1000px;
	/* height: 188px; */
	margin: 0 auto;
	/* padding: 34px 0 39px 88px; */
	padding: 34px 0 39px 0;
	text-align: center;
}
.content.info .footer-wrap .inner p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.5);
}
.content.info .footer-wrap .inner p:last-child {
	font-size: 11px;
	color: rgba(255, 255, 255, 0.5);
}
.content.info .content-wrap .inner .share-area {
	position: absolute;
	width: 35px;
	bottom: 0;
	right: -95px;
}
.content.info .content-wrap .inner .share-area .fb {
	background: url(../images/share_fb.png) no-repeat center 0;
	width: 34px;
	height: 35px;
	margin-bottom: 10px;
}
.content.info .content-wrap .inner .share-area .kt {
	background: url(../images/share_kt.png) no-repeat center 0;
	width: 34px;
	height: 35px;
}

/*popup*/
html.menu-opened,
html.popup-opened {
	overflow: hidden;
}
.popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* z-index: 2000; */
	z-index: 99;
	overflow-y: scroll;
	overflow-x: auto;
	font-size: 0;
	/*	line-height: 0;*/
	opacity: 0;
	text-align: center;
	white-space: normal;
	word-break: normal;
	word-wrap: normal;
	background: rgba(0, 0, 0, 0.7);
	-webkit-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}
.popup-wrap, .popup {
	display: none;
}
.popup-wrap.is-opened {
	display: block;
	opacity: 1;
}
.popup-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.popup-wrap .popup {
	display: inline-block;
}
.popup {
	position: relative;
	margin: 20px;
	/* border-radius: 5px; */
	padding: 7px;
	/* background: #4374a6; */
	vertical-align: middle;
	/*	line-height: 100%;*/
	white-space: normal;
	word-break: keep-all;
	word-wrap: break-word;
	text-align: left;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.popup .popup-close {
	position: absolute;
	top: 22px;
	right: 22px;
	width: 30px;
	height: 29px;
	background: url(../images/popup_close.png) center 0 no-repeat;
	z-index: 1;
}
.popup .inner {
	background: #ffffff;
	/* border-radius: 5px; */
	padding: 60px 0 0 0;
	position: relative;
}
.popup-wrap.is-opened .popup {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.pt-result {
	width: 581px;
}
.popup.pt-result .inner .shadow-line {
	background: url(../images/popup_shadow.png) no-repeat center 0;
	position: absolute;
	width: 587px;
	height: 682px;
	/* border: solid 1px #fff; */
	top: 6px;
	right: -12px;
	z-index: -1;
}
/* .popup.pt-result .inner .shadow-line2 {
position: absolute;
width: 579px;
height: 671px;
border: solid 1px #fff;
top: 6px;
right: -6px;
z-index: -1;
} */
.popup.pt-result .inner .title-area {
	text-align: center;
	padding-bottom: 25px;
}
.popup.pt-result .inner .title-area span {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	color: #5a2e72;
}
.popup.pt-result .inner .title-area img {
	margin: 4px 20px 0 20px;
}
.popup.pt-result .inner .line {
	width: 527px;
	height: 2px;
	border-top: solid 1px #88629c;
	border-bottom: solid 1px #88629c;
	margin: 0 auto;
}
.popup.pt-result .inner .apply {
	width: 405px;
	padding-top: 26px;
	margin: 0 auto;
	/* height: 2px; */
}
.popup.pt-result .inner .apply .box {
	position: relative;
	display: inline-block;
	width: 119px;
	height: 117px;
	background: #5a2e72;
	margin-right: 24px;
	border-radius: 10px;
	-webkit-box-shadow: 3px 3px 0px 0px #dcd0e8;
	box-shadow:  3px 3px 0px 0px #dcd0e8;

}
.popup.pt-result .inner .apply .box:last-child {
	margin-right: 0;
}
.popup.pt-result .inner .apply .box .label {
	width: 78px;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	text-align: center;
	border-bottom: 1px solid #fff;
	margin: 0 auto;
	padding: 16px 0 6px 0;
}
.popup.pt-result .inner .apply .box .rs_req {
	width: 110px;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	padding: 28px 0 0 0;
}
.popup.pt-result .inner .result-text {
	position: relative;
	display: table;
	width: 509px;
	height: 231px;
	margin: 0 auto;
	border-radius: 10px;
	background: #f6f6f6;
	margin-top: 19px;
	z-index: 2;
}
.popup.pt-result .inner .result-text .result-image {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.popup.pt-result .inner .btn-area {
	/* position: absolute; */
	background: #642d77;
	height: 201px;
	width: 581px;
	/* bottom: -159px; */
	text-align: center;
	margin-top: -32px;
}
.popup.pt-result .inner .btn-area button {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	background: url(../images/popup_result_btn.png) no-repeat center 0;
	background-size: cover;
	width: 198px;
	height: 82px;
	margin-top: 49px;
	padding-left: 10px;
}
.popup.pt-result .inner .btn-area p {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #fff;
	margin-top: 6px;
}
.popup.pt-agree1 {
	width: 581px;
}
.popup.pt-agree1 .inner .shadow-line {
	background: url(../images/popup_agree1_shadow.png) no-repeat center 0;
	position: absolute;
	width: 587px;
	height: 516px;
	top: 6px;
	right: -12px;
	z-index: -1;
}
.popup.pt-agree1 .inner .title-area {
	text-align: center;
	padding-bottom: 25px;
}
.popup.pt-agree1 .inner .title-area span {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	color: #5a2e72;
}
.popup.pt-agree1 .inner .line {
	width: 527px;
	height: 2px;
	border-top: solid 1px #88629c;
	border-bottom: solid 1px #88629c;
	margin: 0 auto;
}
.popup.pt-agree1 .inner .desc {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #333333;
	letter-spacing: -1.1px;
	line-height: 18px;
}
.popup.pt-agree1 .inner .desc .desc-inner {
	width: 420px;
	margin: 0 auto;
	padding: 34px 0 52px 0;
}
.popup.pt-agree1 .inner .desc .desc-inner {
	width: 420px;
	margin: 0 auto;
	padding: 34px 0 52px 0;
}
.popup.pt-agree1 .inner .desc .desc-inner .items {
	line-height: 24px;
}
.popup.pt-agree1 .inner .desc .desc-inner .items.first {
	padding-top: 12px;
}
.popup.pt-agree1 .inner .desc .desc-inner .small {
	font-size: 15px;
}
.popup.pt-agree1 .inner .desc .desc-inner .small.first {
	padding-top: 22px;
}
.popup.pt-agree2 {
	width: 581px;
}
.popup.pt-agree2 .inner .shadow-line {
	background: url(../images/popup_agree2_shadow.png) no-repeat center 0;
	position: absolute;
	width: 587px;
	height: 379px;
	top: 6px;
	right: -12px;
	z-index: -1;
}
.popup.pt-agree2 .inner .title-area {
	text-align: center;
	padding-bottom: 25px;
}
.popup.pt-agree2 .inner .title-area span {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	color: #5a2e72;
}
.popup.pt-agree2 .inner .line {
	width: 527px;
	height: 2px;
	border-top: solid 1px #88629c;
	border-bottom: solid 1px #88629c;
	margin: 0 auto;
}
.popup.pt-agree2 .inner .desc {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #333333;
	letter-spacing: -1.1px;
	line-height: 18px;
}
.popup.pt-agree2 .inner .desc .desc-inner {
	width: 420px;
	margin: 0 auto;
	padding: 34px 0 52px 0;
}
.popup.pt-agree2 .inner .desc .desc-inner {
	width: 420px;
	margin: 0 auto;
	padding: 34px 0 52px 0;
}
.popup.pt-agree2 .inner .desc .desc-inner .items {
	line-height: 24px;
}
.popup.pt-agree2 .inner .desc .desc-inner .items.first {
	padding-top: 12px;
}
.popup.pt-agree2 .inner .desc .desc-inner .small {
	font-size: 16px;
}
.popup.pt-agree2 .inner .desc .desc-inner .small.first {
	padding-top: 22px;
}
/*팝업 오픈 샘플버튼 숨김처리*/
#sample-btn {
	display: none;
}

@media all and (max-width: 1500px) {
	.content.main .header-wrap .inner {
		padding: 33px 0 23px;
	}	
	.content.main .header-wrap h1 img {
		width: 130px;
	}
	.content.main .content-wrap .inner .desc-area .sub-text {
		font-size: 23px;
	}
	.content.main .content-wrap .inner .desc-area .desc1 {
/*		font-size: */
		margin-top: 13px;
		font-size: 16px;
	}
	.content.main .content-wrap .inner .desc-area .desc2 {
		font-size: 16px;
		line-height: 20px;
	}
	.content.main .content-wrap .inner .btn-area {
		margin: 37px 0 0 63px;
	}
	.content.main .notice-wrap .inner span {
		font-size: 18px;
	}
}