@font-face {
	font-family: 'NotoSansKR-Thin';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(../../fonts/NotoSansKR-Thin.eot), url(../../fonts/NotoSansKR-Thin.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Thin.woff) format("woff"), url(../../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKR-Light';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans Light"), local("NotoSans-Light"), url(../../fonts/NotoSansKR-Light.eot), url(../../fonts/NotoSansKR-Light.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Light.woff) format("woff"), url(../../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKR-DemiLight';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../../fonts/NotoSansKR-DemiLight.eot), url(../../fonts/NotoSansKR-DemiLight.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-DemiLight.woff) format("woff"), url(../../fonts/NotoSansKR-DemiLight.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKR-Regular';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../../fonts/NotoSansKR-Regular.eot), url(../../fonts/NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Regular.woff) format("woff"), url(../../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKR-Medium';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../../fonts/NotoSansKR-Medium.eot), url(../../fonts/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Medium.woff) format("woff"), url(../../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKR-Bold';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../../fonts/NotoSansKR-Bold.eot), url(../../fonts/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Bold.woff) format("woff"), url(../../fonts/NotoSansKR-Bold.otf) format("opentype");
}
img {
	width: 100%;
	max-width: 100%;
}
h1 {
	font-size: 13px;
	margin: 0;
	font-weight: normal;
}
html, body {
	height: 100%;
	font-size: 13px;
}
.content.main {
	position: relative;
	background: url(../images/main_bg.jpg) center 0 / cover no-repeat;
	overflow: hidden;
}
.content.main .header-wrap {
	/*	height: 59px;*/
/*	position: fixed;*/
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 100;
}
.content.main .header-wrap .inner {
/*	padding: 22px 31px;*/
	padding: 22px 8.2%;
}
.content.main .header-wrap .inner .logo {
	line-height: 1;
	width: 76px;
}
.content.main .header-wrap .inner .share-area {
	position: absolute;
	top: 17px;
	right: 28px;
	font-size: 0;
}
.content.main .header-wrap .inner .share-area button {
	display: inline-block;
	width: 24px;
	height: 25px;
}
.content.main .header-wrap .inner .share-area .fb {
	background: url(../images/share_fb.png) no-repeat center 0 / cover;
	margin-right: 8px;
}
.content.main .header-wrap .inner .share-area .kt {
	background: url(../images/share_kt.png) no-repeat center 0 / cover;
}
.content.main .notice-area {
	background: url(../images/notice_bg.png) no-repeat center 0 / cover;
	background-size: cover;
	height: 33px;
}
.content.main .notice-area .inner {
	position: relative;
	height: 100%;
}
.content.main .notice-area .inner span {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 20px;
	width: 100%;
	font-size: 12px;
	font-family: 'NotoSansKR-Regular';
	color: #fff;
	vertical-align: middle;
	white-space: nowrap;
	text-shadow: 0px 0px 4.3px rgba(28, 27, 27, 0.13);
}
.content.main .notice-area .inner span b {
	background: rgba(255, 255, 255, 0.22);
}
.content.main .content-wrap {
	/*  */
}
.content.main .content-wrap .inner {
	position: relative;
/*	padding-bottom: 236px;*/
}
.content.main .content-wrap .inner .dummy {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 59px;
}
.content.main .content-wrap .inner .desc-area {
	text-align: left;
/*	padding: 39px 0 0;*/
	padding: 10.4% 0 0;
	width: 91.4%;
	margin: 0 auto;
}
.content.main .content-wrap .inner .desc-area .sub-text {
	display: block;
	font-family: 'NotoSansKR-DemiLight';
	font-size: 15px;
	letter-spacing: -0.25px;
	color: #fff;
/*	padding-left: 14px;*/
	padding-left: 3.5%;
}
.content.main .content-wrap .inner .desc-area .sub-text small {
	font-family: 'NotoSansKR-DemiLight';
	font-size: 12px;
	letter-spacing: -0.1px;
	color: #c498d8;
}
.content.main .content-wrap .inner .desc-area .title-wrap {
	position: relative;
	margin: 5px 0 8px;
}
.content.main .content-wrap .inner .desc-area .neon-title {
	width: 96.5%;
}
.content.main .content-wrap .inner .desc-area .neon-on-title {
	position: absolute;
	top: -8.8%;
	left: -1.6%;
	width: 100%;
}
.content.main .content-wrap .inner .desc-area .desc-wrap {
	padding-left: 14px;
}
.content.main .content-wrap .inner .desc-area .desc {
	display: block;
	font-family: 'NotoSansKR-Regular';
	font-size: 11px;
	letter-spacing: -0.5px;
	color: #ffffff;
}
.content.main .content-wrap .inner .desc-area .desc2 {
	margin-top: 2px;
}
.content.main .content-wrap .wrap {
/*	position: relative;*/
	font-size: 0;
/*	padding-left: 20px;*/
	padding-left: 5.7%;
}
.content.main .content-wrap .inner .btn-area {
	display: inline-block;
/*	margin: 10.6% 11.7% 0 0;*/
	margin: 10.6% 0 0 0;
	vertical-align: top;
/*	width: 46.4%;*/
	width: 52.4%;
}
.content.main .content-wrap .inner .btn-area button {
	width: 100%;
/*	width: 162px;*/
	max-width: 162px;
	height: 52px;
	font-family: 'NotoSansKR-Medium';
	font-size: 14px;
	color: #fff;
	padding-left: 20px;
}
.content.main .content-wrap .inner .btn-area .give {
	background: url(../images/main_btn_gift.png) no-repeat center 0;
	background-size: cover;
}
.content.main .content-wrap .inner .btn-area .find {
	width: 100%;
	max-width: 165px;
/*	width: 165px;*/
	background: url(../images/main_btn_learn.png) no-repeat center 0;
	background-size: cover;
}
.content.main .content-wrap .inner .goods-area {
	display: inline-block;
	position: absolute;
/*	top: 0;*/
	top: 56.8%;
	right: 2%;
	opacity: 0;
	width: 35%;
	vertical-align: top;
	z-index: 2;
}
.content.main .footer-wrap {
	padding-top: 56%;
	padding-left: 5.8%;
/*	padding-top: 148px;*/
}
.content.main .footer-wrap .inner {
	/* height: 188px; */
	margin: 0 auto;
	padding: 2.6% 0;
/*	padding: 67px 0 39px 88px;*/
}
.content.main .footer-wrap .inner p:first-child {
	font-family: 'NotoSansKR-Medium';
}
.content.main .footer-wrap .inner p {
	font-size: 10px;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: -1px;
	font-family: 'NotoSansKR-Regular';
}
.content.main .footer-wrap .inner p:last-child {
	font-size: 11px;
}
.content.sub {
	position: relative;
	background: url(../images/sub_bg.png) no-repeat center 0;
	background-size: auto;
	width: 100%;
}
.content.sub .header-wrap {
	height: 116px;
}
.content.sub .header-wrap .inner {
	width: 1000px;
	margin: 0 auto;
	padding: 48px 0 36px 0;
}
.content.sub .header-wrap .inner h1 {
	padding-left: 70px;
}
.content.sub .notice-wrap {
	background: url(../images/notice_bg.png) no-repeat center 0;
	background-size: cover;
	height: 67px;
}
.content.sub .notice-wrap .inner {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	text-align: center;
}
.content.sub .notice-wrap .inner img {
	margin-left: 26px;
}
.content.sub .notice-wrap .inner span {
	font-size: 22px;
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	margin: 7px 0 0 7px;
}
.content.sub .content-wrap {
	/*  */
}
.content.sub .content-wrap .inner {
	position: relative;
	width: 1000px;
	/* height: 752px; */
	margin: 0 auto;
	padding: 63px 0 0 0;
	font-size: 0;
}
.content.sub .content-wrap .inner .request-area {
	background: #f2f2f2;
	width: 865px;
	height: 917px;
	margin: 0 auto;
}
.content.sub .content-wrap .inner .request-area .mark {
	position: absolute;
	display: inline-block;
	width: 97px;
	top: 49px;
	left: 89px;	
}
.content.sub .content-wrap .inner .request-area .title {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 30px;
	padding: 78px 0 42px 0;
	text-align: center;
}
.content.sub .content-wrap .inner .request-area .title img {
	padding: 0 17px 0 17px;
	margin-top: 13px;
}
.content.sub .content-wrap .inner .request-area .question1-box {
	width: 713px;
	height: 567px;
	border: 1px solid #dcd1e8;
	margin: 0 auto;
}
.content.sub .content-wrap .inner .request-area .question1-box .q1 {
	text-align: center;
	padding: 35px 0 22px 0;
}
.content.sub .content-wrap .inner .request-area .question1-box span {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;	
	font-size: 23px;
	color: #333333;
	letter-spacing: -1.4px;
}
.content.sub .content-wrap .inner .request-area .question1-box span b {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	color: #54266a;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice {
	position: relative;
	background: url(../images/sub_q1_bg.png) no-repeat center 0;
	background-size: contain;
	width: 549px;
	height: 441px;
	padding-left: 216px;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 div {
	position: absolute;
	display: inline-block;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 .chk1 {
	top: 42px;
	left: 60px;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 .chk2 {
	top: 154px;
	left: 60px;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 .chk3 {
	top: 266px;
	left: 60px;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 .chk4 {
	top: 380px;
	left: 60px;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 div input[type="checkbox"] {
	display: none;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 div input[type="checkbox"] + label {
	display: inline-block;
	cursor: pointer;
	width: 15px;
	height: 16px;
	border: 2px solid #d7d7d7;
	/* margin-top: 40px; */
	vertical-align: middle;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 div input[type="checkbox"]:checked + label {
	background: #3a0a4b;
}
.content.sub .content-wrap .inner .request-area .question1-box .choice ._1 .ans-title {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	font-size: 22px;
	color: #512267;
	vertical-align: middle;
	line-height: 22px;
	display: inline-block;
	padding: 0 38px 0 38px;
}
.content.sub .content-wrap .inner .request-area .question2-box {
	width: 713px;
	height: 137px;
	border: 1px solid #dcd1e8;
	margin: 0 auto;
	margin-top: 9px;
}
.content.sub .content-wrap .inner .request-area .question2-box .q2 {
	display: inline-block;
	text-align: left;
	padding: 41px 0 22px 47px;
}
.content.sub .content-wrap .inner .request-area .question2-box span {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;	
	font-size: 23px;
	color: #333333;
	letter-spacing: -1.4px;
	line-height: 28px;
}
.content.sub .content-wrap .inner .request-area .question2-box span b {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	color: #54266a;
}
.content.sub .content-wrap .inner .request-area .question2-box span p:last-child {
	padding-left: 34px;
}
.content.sub .content-wrap .inner .share-area {
	position: absolute;
	width: 35px;
	bottom: 0;
	right: -95px;
}
.content.sub .content-wrap .inner .request-area .question2-box .choice {
	position: relative;
	/* display: inline-block; */
}
.content.sub .content-wrap .inner .request-area .question2-box .choice ._2 {
	position: absolute;
	top: -81px;
	right: 45px;
}
.content.sub .content-wrap .inner .request-area .question2-box .choice ._2 input[type="text"]{
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #333333;
	width: 303px;
	height: 52px;
	border: solid 1px #e6e6e6;
	background: #fff;
	padding-left: 26px;
}
.content.sub .content-wrap .inner .request-area .question2-box .choice ._2 input::placeholder {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #d3d3d3;
	/* padding-left: 26px; */
}
.content.sub .content-wrap .inner .input-area {
	width: 865px;
	margin: 0 auto;
}
.content.sub .content-wrap .inner .input-area .input-box1 {
	display: inline-block;
}

.content.sub .content-wrap .inner .share-area .fb {
	background: url(../images/share_fb.png) no-repeat center 0;
	width: 34px;
	height: 35px;
	margin-bottom: 10px;
}
.content.sub .content-wrap .inner .share-area .kt {
	background: url(../images/share_kt.png) no-repeat center 0;
	width: 34px;
	height: 35px;
}
.content.sub .footer-wrap .inner {
	width: 1000px;
	/* height: 188px; */
	margin: 0 auto;
	padding: 67px 0 39px 88px;
}
.content.sub .footer-wrap .inner p {
	font-size: 12px;
	color: #fff;
}
.content.sub .footer-wrap .inner p:last-child {
	font-size: 11px;
	color: #fff;
}

@media all and (max-width: 340px) {
	.content.main .content-wrap .inner .desc-area .neon-title {
/*		width: 309px;*/
	}
}