@font-face {
	font-family: 'NotoSansKR-Thin';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(../../fonts/NotoSansKR-Thin.eot), url(../../fonts/NotoSansKR-Thin.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Thin.woff) format("woff"), url(../../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKR-Light';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans Light"), local("NotoSans-Light"), url(../../fonts/NotoSansKR-Light.eot), url(../../fonts/NotoSansKR-Light.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Light.woff) format("woff"), url(../../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKR-DemiLight';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../../fonts/NotoSansKR-DemiLight.eot), url(../../fonts/NotoSansKR-DemiLight.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-DemiLight.woff) format("woff"), url(../../fonts/NotoSansKR-DemiLight.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKR-Regular';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../../fonts/NotoSansKR-Regular.eot), url(../../fonts/NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Regular.woff) format("woff"), url(../../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKR-Medium';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../../fonts/NotoSansKR-Medium.eot), url(../../fonts/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Medium.woff) format("woff"), url(../../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKR-Bold';
	font-style: normal;
	font-weight: normal;
	src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../../fonts/NotoSansKR-Bold.eot), url(../../fonts/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Bold.woff) format("woff"), url(../../fonts/NotoSansKR-Bold.otf) format("opentype");
}
img {
	width: 100%;
	max-width: 100%;
}
h1 {
	font-size: 13px;
	margin: 0;
	font-weight: normal;
}
html, body {
	height: 100%;
	font-size: 13px;
}
.content.main {
	position: relative;
	background: url(../images/main_bg.jpg) center / cover no-repeat;
	overflow: hidden;
}
.content .header-wrap {
	/*	height: 59px;*/
/*	position: fixed;*/
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 100;
}
.content .header-wrap .inner {
/*	padding: 22px 31px;*/
	padding: 22px 8.2%;
}
.content .header-wrap .inner .logo {
	line-height: 1;
	width: 76px;
}
.content .header-wrap .inner .share-area {
	position: absolute;
	top: 17px;
	right: 28px;
	font-size: 0;
}
.content .header-wrap .inner .share-area button {
	display: inline-block;
	width: 24px;
	height: 25px;
	margin-right: 8px;
}
.content .header-wrap .inner .share-area .fb {
	background: url(../images/share_fb.png) no-repeat center 0 / cover;
}
.content .header-wrap .inner .share-area .kt {
	background: url(../images/share_kt.png) no-repeat center 0 / cover;
}
.content .header-wrap .inner .share-area .insta {
	margin-right: 0;
	background: url(../images/share_insta.png) no-repeat center 0 / cover;
}
.content .notice-area {
	background: url(../images/notice_bg.png) no-repeat center 0 / cover;
	background-size: cover;
	height: 33px;
}
.content .notice-area .inner {
	position: relative;
	height: 100%;
}
.content .notice-area .inner span {
	position: absolute;
	left: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-left: 20px;
	width: 100%;
	font-size: 12px;
	font-family: 'NotoSansKR-Regular';
	color: #fff;
	vertical-align: middle;
	white-space: nowrap;
	text-shadow: 0px 0px 4.3px rgba(28, 27, 27, 0.13);
}
.content .notice-area .inner span b {
	background: rgba(255, 255, 255, 0.22);
}
.content .content-wrap {
	/*  */
}
.content .content-wrap .inner {
/*	position: relative;*/
/*	padding-bottom: 236px;*/
}
.content.main .content-wrap .inner .desc-area {
	text-align: left;
/*	padding: 39px 0 0;*/
	padding: 10.4% 0 0;
	width: 91.4%;
	margin: 0 auto;
}
.content.main .content-wrap .inner .desc-area .sub-text {
	display: block;
	font-family: 'NotoSansKR-DemiLight';
	font-size: 15px;
	letter-spacing: -0.25px;
	color: #fff;
/*	padding-left: 14px;*/
	padding-left: 3.5%;
}
.content.main .content-wrap .inner .desc-area .sub-text small {
	font-family: 'NotoSansKR-DemiLight';
	font-size: 12px;
	letter-spacing: -0.1px;
	color: #c498d8;
}
.content.main .content-wrap .inner .desc-area .title-wrap {
	position: relative;
	margin: 5px 0 8px;
}
.content.main .content-wrap .inner .desc-area .neon-title {
	width: 96.5%;
}
.content.main .content-wrap .inner .desc-area .neon-on-title {
	position: absolute;
	top: -7.6%;
	left: -1.7%;
	width: 100%;
}
.content.main .content-wrap .inner .desc-area .desc-wrap {
	padding-left: 14px;
}
.content.main .content-wrap .inner .desc-area .desc {
	display: block;
	font-family: 'NotoSansKR-Regular';
	font-size: 11px;
	letter-spacing: -0.5px;
	color: #ffffff;
}
.content.main .content-wrap .inner .desc-area .desc2 {
	margin-top: 2px;
}
.content.main .content-wrap .wrap {
/*	position: relative;*/
	font-size: 0;
/*	padding-left: 20px;*/
	padding-left: 5.7%;
}
.content.main .content-wrap .inner .btn-area {
	display: inline-block;
/*	margin: 10.6% 11.7% 0 0;*/
	margin: 10.6% 0 0 0;
	vertical-align: top;
/*	width: 46.4%;*/
	width: 52.4%;
}
.content.main .content-wrap .inner .btn-area button {
	width: 100%;
/*	width: 162px;*/
	max-width: 162px;
	height: 52px;
	font-family: 'NotoSansKR-Medium';
	font-size: 14px;
	color: #fff;
	padding-left: 20px;
}
.content.main .content-wrap .inner .btn-area .give {
	background: url(../images/main_btn_gift.png) no-repeat center 0;
	background-size: cover;
}
.content.main .content-wrap .inner .btn-area .find {
	width: 100%;
	max-width: 165px;
/*	width: 165px;*/
	background: url(../images/main_btn_learn.png) no-repeat center 0;
	background-size: cover;
}
.content.main .content-wrap .inner .goods-area {
	display: inline-block;
	position: absolute;
/*	top: 56.8%;*/
	bottom: 34.7%;
	right: 2%;
	opacity: 0;
	width: 35%;
	vertical-align: top;
	z-index: 2;
}

.content.main .footer-wrap {
	padding-top: 62%;
	/* padding-left: 5.8%; */
	text-align: center;
}
.content .footer-wrap .inner {
	/* height: 188px; */
	margin: 0 auto;
	padding: 2.6% 0;
/*	padding: 67px 0 39px 88px;*/
}
.content .footer-wrap .inner p:first-child {
	font-family: 'NotoSansKR-Medium';
}
.content .footer-wrap .inner p {
	font-size: 10px;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: -1px;
	font-family: 'NotoSansKR-Regular';
}
.content .footer-wrap .inner p:last-child {
	margin-top: 6px;
	font-size: 11px;
}
.content.sub {
	position: relative;
	background: url(../images/sub_bg.jpg) no-repeat center 0;
	background-size: cover;
	overflow: hidden;
}
.content.sub .content-wrap .inner {
	position: relative;
}
.content.sub .request-form {
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 53.32px 8.68px rgba(0, 0, 0, 0.09);
	box-shadow: 0px 0px 53.32px 8.68px rgba(0, 0, 0, 0.09);
	width: 88%;
	margin: 31px auto 26px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content.sub .request-form .inner > .obj {
	position: absolute;
	left: 10px;
	top: -7px;
	width: 48px;
	height: 46px;
	background: url(../images/sub_form_obj.png) 0 0 / cover no-repeat;
}
.content.sub .request-form .inner {
	padding: 39px 15px 18px;
}
.content.sub .request-form .title {
	margin-bottom: 14px;
	text-align: center;
	font-size: 0;
}
.content.sub .request-form .title h3 {
	display: inline-block;
	position: relative;
	margin: 0 9px;
	font-family: 'NotoSansKR-Bold';
	font-size: 15px;
	color: #333333;
	vertical-align: middle;
}
.content.sub .request-form .title:before,
.content.sub .request-form .title:after {
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #ddd1e9;
	vertical-align: middle;
}
.content.sub .request-form .box {
	border: 1px solid #dcd1e8;
	padding: 17px 18px;
	color: #333333;
}
.content.sub .request-form .box._list {
	margin-bottom: 5px;
}
.content.sub .request-form .box .qs-txt {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 18px;
}
.content.sub .request-form .box .qs-txt b {
	font-family: 'NotoSansKR-Bold';
	font-size: 15px;
	color: #54266a;
	margin-right: 3px;
}
.content.sub .request-form .box .qs-txt span {
	font-family: 'NotoSansKR-Medium';
	font-size: 13px;
	letter-spacing: -0.5px;
	line-height: 16px;
	word-break: break-all;
	word-break: break-word;
}
.content.sub .request-form .box .check-list {
}
.content.sub .request-form .box .check-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
/*	justify-content: space-between;*/
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	margin-bottom: 18px;
}
.content.sub .request-form .box .check-list li > div {
}
.content.sub .request-form .box .check-list li .check-wrap {
/*	flex-basis: 28%;*/
	-ms-flex-preferred-size: 32%;
	flex-basis: 32%;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	font-size: 0;
}
.content.sub .request-form .box .check-list li .check-wrap span {
	font-family: 'NotoSansKR-Bold';
	font-size: 13px;
	color: #512267;
	letter-spacing: -0.5px;
	vertical-align: middle;
}
.content.sub .request-form .box .check-wrap .check {
	display: none;
}
.content.sub .request-form .box .check-wrap .check + label {
	display: inline-block;
	cursor: pointer;
	width: 9px;
	height: 9px;
	border: 2px solid #d7d7d7;
	/* margin-top: 40px; */
	vertical-align: middle;
	margin-right: 10px;
}
.content.sub .request-form .box .check-wrap .check:checked + label {
	background: #3a0a4b;
}

.content.sub .request-form .box .check-list .img {
	-ms-flex-preferred-size: 35%;
	flex-basis: 35%;
	margin-right: 11px;
	font-size: 0;
	text-align: center;
}
.content.sub .request-form .box .check-list .img img {
	vertical-align: middle;
}
.content.sub .request-form .box .check-list .img img:first-child {
	width: 51px;
}
.content.sub .request-form .box .check-list .img img:last-child {
	width: 16px;
	margin-left: 11px;
}
.content.sub .request-form .box .check-list .desc {
/*	flex-basis: 41%;*/
	-ms-flex-preferred-size: 34%;
	flex-basis: 34%;
	font-size: 11px;
	word-break: break-all;
	word-break: break-word;
}
.content.sub .request-form .box._input .qs-txt {
	margin-bottom: 8px;
}
.content.sub .request-form .box._input .answer {
	padding: 0 20px;
}
.content.sub .request-form .box._input .answer input[type="text"] {
	background: #ffffff;
	border: 1px solid #e6e6e6;
	height: 25px;
	padding-left: 13px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content.sub .receipt-form {
	padding: 0 50px;
}
.content.sub .receipt-form .input-group {
	margin-bottom: 9px;
	font-size: 0;
}
.content.sub .receipt-form .input-group:last-child {
	margin-bottom: 0;
}
.content.sub .receipt-form .input-group .guide {
	display: inline-block;
	vertical-align: middle;
	font-family: 'NotoSansKR-DemiLight';
	font-size: 12px;
	color: #eabdff;
	width: 18.4%;
}
.content.sub .receipt-form .input-group .input {
	display: inline-block;
	vertical-align: middle;
	width: 81.6%;
}
.content.sub .receipt-form .input-group .input input[type="text"],
.content.sub .receipt-form .input-group .input input[type="tel"] {
	width: 100%;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.1);
	height: 23px;
	vertical-align: middle;
	padding-left: 13px;
	font-family: 'NotoSansKR-DemiLight';
	color: #eabdff;
	font-size: 10px;
}
.content.sub .receipt-form .input-group.tel .input {
	font-size: 0;
	text-align: center;
}
.content.sub .receipt-form .input-group.tel .input input[type="tel"] {
	width: 30%;
	position: relative;
}
.content.sub .receipt-form .input-group.tel .input span {
	display: inline-block;
	width: 5%;
	color: #eabdff;
	font-size: 10px;
	vertical-align: middle;
}
.content.sub .receipt-form .input-group.email .input input[type="text"] {
	width: 46%;
	position: relative;
}
.content.sub .receipt-form .input-group.email .input span {
	display: inline-block;
	width: 8%;
	color: #eabdff;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
}
.content.sub .receipt-form .input-group.tel .input input[type="tel"]:last-child,
.content.sub .receipt-form .input-group.email .input input[type="text"]:last-child{
	margin-right: 0;
}
.content.sub .receipt-form .input-group.addr .input input[type="text"] {
	width: 80%;
	margin-right: 3%;
}
.content.sub .receipt-form .input-group.addr .input .find-addr {
	width: 17%;
	height: 23px;
	background: url(../images/search_icon.png) center / 13px auto no-repeat #dcd0e8;
	vertical-align: middle;
}
.content.sub .receipt-form .input-group.email select {
	width: 100%;
	background: url(../images/arrow.png) 95% center / 8px auto no-repeat rgba(255, 255, 255, 0.1);
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	padding-left: 10px;
	font-family: 'NotoSansKR-DemiLight';
	color: #eabdff;
	font-size: 10px;
}
.content.sub .receipt-form .input-group.email select::-ms-expand {
	display: none;
}
.content.sub .receipt-form .agree-wrap {
	padding-left: 15.4%;
	margin-top: 16px;
}
.content.sub .receipt-form .agree-wrap .row {
	margin-bottom: 10px;
	font-size: 0;
	overflow: hidden;
}
.content.sub .receipt-form .agree-wrap .row .guide {
	float: left;
	font-size: 10px;
	font-family: 'NotoSansKR-DemiLight';
	color: #ffffff;
	letter-spacing: -0.75px;
}
.content.sub .receipt-form .agree-wrap .row .check-wrap {
	float: right;
}
.content.sub .receipt-form .agree-wrap .row .check-wrap .check {
	display: none;
}
.content.sub .receipt-form .agree-wrap .row .check-wrap .check + label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 10px;
	height: 10px;
	background: #ffffff;
	/* margin-top: 40px; */
	vertical-align: middle;
	margin-right: 10px;
}
.content.sub .receipt-form .agree-wrap .row .check-wrap .check:checked + label:after {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: 1px;
	width: 12px;
	height: 10px;
	background: url(../images/checked.png) 0 0 / 12px auto no-repeat;
}
.content.sub .receipt-form .agree-wrap .row .check-wrap a {
	vertical-align: middle;
	display: inline-block;
	margin-top: 1px;
	font-size: 10px;
	color: #ffffff;
	letter-spacing: -0.75px;
	text-decoration: underline;
}
.content.sub .receipt-form .agree-wrap .msg {
	font-family: 'NotoSansKR-DemiLight';
	font-size: 10px;
	color: #ffffff;
	letter-spacing: -0.5px;
}
.content.sub .receipt-form .btn-submit {
	display: block;
	width: 128px;
	height: 51px;
	padding-left: 17px;
	/* margin: 24px auto; */
	background: url(../images/sub_btn_submit.png) center / cover no-repeat;
	font-family: 'NotoSansKR-DemiLight';
	font-size: 14px;
	color: #ffffff;
	letter-spacing: -0.35px;
	margin: 0 auto;
	margin-top: 24px;
}
.content.sub .receipt-form .extra-notice {
	color: #fff;
	font-size: 10px;
	text-align: center;
	letter-spacing: -1px;
	margin: 5px 0 20px 0;
}
.content.sub .footer-wrap {
/*	background: rgba(79, 31, 103, 0.26);*/
	background: rgb(79, 31, 103);
	/* padding-left: 5.8%; */
	text-align: center;
}
.content.info {
	background: rgb(122,89,151); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(122,89,151,1) 0%, rgba(79,31,100,1) 18%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(122,89,151,1) 0%,rgba(79,31,100,1) 18%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(121deg, rgba(122,89,151,1) 0%,rgba(79,31,100,1) 18%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a5997', endColorstr='#4f1f64',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.content.info .content-wrap {
	padding-bottom: 20px;
}
.content.info .sub-title {
	margin-top: 37px;
	font-family: 'NotoSansKR-DemiLight';
	font-size: 12px;
	color: #c498d8;
	letter-spacing: -0.1px;
	text-align: center;
}
.content.info .title {
	width: 80.8%;
	margin: 0 auto 6px;
	position: relative;
}
.content.info .title .neon-title {
	width: 95.8%;
}
.content.info .title .neon-on-title {
	position: absolute;
	top: -8.7%;
	left: -2%;
	width: 100%;
}
.content.info .desc-title {
	text-align: center;
	font-family: 'NotoSansKR-Medium';
	font-size: 15px;
	color: #ffffff;
	letter-spacing: -0.5px;
}
.content.info .event-date {
	width: 150px;
	margin: 7px auto 18px; 
	border: 1px solid #ffffff;
	padding: 3px 9px;
	box-sizing: border-box;
	text-align: center;
}
.content.info .event-date span {
	font-family: 'NotoSansKR-Regular';
	font-size: 11px;
	letter-spacing: -0.25px;
	color: #ffffff;
}
.content.info .sale-image {
	position: relative;
}
.content.info .sale-image .sale-text {
	position: absolute;
	width: 238px;
	top: 0;
	left: 50%;
	margin-left: -119px;
}
.content.info .sale-image .sale-store {
	width: 99.6%;
}
.content.info .desc-text {
	margin: 18px 0 21px;
	text-align: center;
}
.content.info .desc-text .top-desc {
	font-family: 'NotoSansKR-Medium';
	font-size: 12px;
	letter-spacing: -0.25px;
	color: #ffffff;
	margin-bottom: 3px;
}
.content.info .desc-text p {
	font-family: 'NotoSansKR-DemiLight';
	font-size: 11px;
	color: #e4cbf0;
	line-height: 13px;
}
.content.info .btn-area button {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 54px;
	background: url(../images/info_btn.png) center / cover no-repeat;
	font-family: 'NotoSansKR-Medium';
	font-size: 14px;
	color: #ffffff;
	padding-left: 41px;
	text-align: left;
}
.content.info .info-img {
	margin-top: 34px;
}
.content.info .footer-wrap {
	/*	background: rgba(79, 31, 103, 0.26);*/
	background: rgb(79, 31, 103);
	/* padding-left: 5.8%; */
	text-align: center;
}
input[type="text"]::-webkit-input-placeholder {
	color: #d3d3d3;
}
input[type="text"]:-ms-input-placeholder {
	color: #d3d3d3;
}
input[type="text"]::placeholder {
	color: #d3d3d3;
}
input[type="tel"]:focus,
input[type="text"]:focus {
	outline-color: rgba(234, 189, 255, 0.3);
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
	
}
@media all and (max-width: 360px) {
	.content.sub .request-form .box .check-list li .check-wrap span {
		font-size: 12px;
	}
	.content.sub .request-form .box .check-list .img img:last-child {
		display: none;
	}
	.content.sub .request-form .box .check-wrap .check + label {
		margin-right: 8px;
	}
	.content.sub .receipt-form .agree-wrap .msg br {
		display: none;
	}
}



/* popup */
html.menu-opened body,
html.popup-opened body {
	overflow: hidden;
}
.popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* z-index: 2000; */
	z-index: 99;
	overflow-y: scroll;
	overflow-x: auto;
	font-size: 0;
	/*	line-height: 0;*/
	opacity: 0;
	text-align: center;
	white-space: normal;
	word-break: normal;
	word-wrap: normal;
	background: rgba(0, 0, 0, 0.7);
	-webkit-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}
.popup-wrap, .popup {
	display: none;
}
.popup-wrap.is-opened {
	display: block;
	opacity: 1;
}
.popup-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.popup-wrap .popup {
	display: inline-block;
}
.popup {
	position: relative;
	width: 85.2%;
	vertical-align: middle;
	/*	line-height: 100%;*/
	white-space: normal;
	word-break: keep-all;
	word-wrap: break-word;
	text-align: left;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.popup.pt-result:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 3px;
	display: block;
	width: 101%;
	height: 100.9%;
	background: url(../images/popup_result_shadow.png) 0 0 / 100% 100%;
	z-index: -1;
}
.popup .popup-close {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 18px;
	height: 18px;
	background: url(../images/popup_close.png) 0 0 / cover no-repeat;
	z-index: 3;
}
.popup .inner {
	position: relative;
	text-align: center;
	z-index: 1;
}
.popup-wrap.is-opened .popup {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.pt-result .inner {
	background: #ffffff;
	padding: 33px 0 0 0;
}
.popup.pt-result .title-area {
	margin-bottom: 14px;
	font-size: 0;
}
.popup.pt-result .title-area .title {
	display: inline-block;
	margin: 0 9px;
}
.popup.pt-result .title-area:before,
.popup.pt-result .title-area:after {
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #ddd1e9;
	vertical-align: middle;
}
.popup.pt-result .title-area span {
	font-family: 'NotoSansKR-Bold';
	font-size: 15px;
	color: #5a2e72;
	letter-spacing: -0.5px;
	vertical-align: middle;
}
.popup.pt-result .line {
	width: 90.6%;
	margin: 14px auto;
	height: 3px;
	border-top: 1px solid #88629c;
	border-bottom: 1px solid #88629c;
}
.popup.pt-result .apply {
	font-size: 0;
}
.popup.pt-result .apply .box {
	display: inline-block;
	width: 65px;
	background: #5a2e72;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #dcd0e8;
	margin-right: 13px;
	padding: 11px 0 16px;
	text-align: center;
	box-sizing: border-box;
	color: #ffffff;
}
.popup.pt-result .apply .box:last-child {
	margin-right: 0;
}
.popup.pt-result .apply .box .label {
	display: inline-block;
	font-family: 'NotoSansKR-DemiLight';
	font-size: 10px;
	padding-bottom: 4px;
	border-bottom: 1px solid #ddd1e9;
	margin-bottom: 11px;
}
.popup.pt-result .apply .box .rs_req {
	font-family: 'NotoSansKR-Medium';
	font-size: 13px;
}
.popup.pt-result .result-text {
	position: relative;
	z-index: 1;
	background: #f6f6f6;
	border-radius: 5px;
	padding: 15px 0 20px;
	text-align: center;
	width: 87.4%;
	margin: 13px auto -12px;
}
.popup.pt-result .result-text .result-image {
	text-align: center;
}
.popup.pt-result .result-text .result-image img._1 {width: 222px;}
.popup.pt-result .result-text .result-image img._2 {width: 220px;}
.popup.pt-result .result-text .result-image img._3 {width: 206px;}
.popup.pt-result .result-text .result-image img._4 {width: 270px;}
.popup.pt-result .btn-area {
	padding: 33px 0 26px;
	background: #642d77;
}
.popup.pt-result .btn-area button {
	width: 114px;
	height: 46px;
	background: url(../images/popup_result_btn.png) center / cover no-repeat;
	color: #ffffff;
	font-family: 'NotoSansKR-Medium';
	font-size: 12px;
	padding-left: 38px;
	text-align: left;
}
.popup.pt-result .btn-area p {
	font-family: 'NotoSansKR-Regular';
	font-size: 10px;
	color: #ffffff;
	letter-spacing: -0.25px;
	margin-top: 9px;
	text-align: center;
}
.popup.pt-agree .inner {
	background: #ffffff;
	padding: 33px 0;
}
.popup.pt-agree .title-area {
	margin-bottom: 14px;
	font-size: 0;
}
.popup.pt-agree .title-area .title {
	display: inline-block;
}
.popup.pt-agree .title-area span {
	font-family: 'NotoSansKR-Bold';
	font-size: 15px;
	color: #5a2e72;
	letter-spacing: -0.5px;
	vertical-align: middle;
}
.popup.pt-agree .line {
	width: 90.6%;
	margin: 14px auto;
	height: 3px;
	border-top: 1px solid #88629c;
	border-bottom: 1px solid #88629c;
}
.popup.pt-agree p {
	font-family: 'NotoSansKR-Regular';
	font-size: 10px;
	color: #333333;
	letter-spacing: -0.25px;
	text-align: left;
}
.popup.pt-agree .desc {
	padding: 0 30px;
}
.popup.pt-agree .desc p {
	word-break: break-all;
	word-break: break-word;
}

#sample-btn {
	display: none;
}